
/* general styles */
html, body {
    height: 100%;
    width: 100%;
}

body {
    padding-top: 50px;
}
/* padded section */
.pad-section {
    padding: 100px 0;
}
.pad-section img {
    width: 100%;
}

.lang-switcher{
    clear: both;
}
.lang-switcher a{
    float:left;
    padding-left: 2px !important;
    padding-right: 2px !important;
}

.lang-switcher a:after{
    content: " |";
}

.lang-switcher a:last-child:after
{
    content: '';
}


/* vertical-centered text */
.text-vcenter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.text-vcenter h1 {
    font-size: 4.5em;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

/* additional sections */
#home {
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#about {
}

#services {
    background-color: #306d9f;
    color: #ffffff;
}
#services .glyphicon {
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    display: inline-block;
    font-size: 60px;
    height: 140px;
    line-height: 140px;
    text-align: center;
    vertical-align: middle;
    width: 140px;
}

#information {
    background: url(http://lorempixel.com/1200/800/nature/1) no-repeat center center fixed;
    display: table;
    height: 800px;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#information .panel {
    opacity: 0.85;
}

footer {
    padding: 20px 0;
}
footer .glyphicon {
    color: #333333;
    font-size: 60px;
}
footer .glyphicon:hover {
    color: #306d9f;
}




nav .navbar-toggle {
    margin: 13px 15px 13px 0;
}

.navbar-brand {
    font-size: 18px !important;
    padding: 0px 15px;
    height: auto;
}

nav.navbar.shrink {
    min-height: 35px;
}

.navbar-brand {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

nav .navbar-nav a {
    padding-top: 22px !important;
    padding-bottom: 23px !important;
}


nav.navbar, .navbar-brand{
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

@media (min-width: 768px) {
    .pull-right-sm {
        float: right;
    }
}

/* USER PROFILE PAGE */
.card {
    padding: 30px;
    background-color: rgba(214, 224, 226, 0.2);
}
.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 1);
}
.card.hovercard .card-background {
    height: 300px;
}
.card-background img {
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
    margin-left: -75px;
    margin-top: 0px;
    min-width: 150%;
}

@media (min-width: 768px) {
    .card-background img {
        margin-left: -100px;
        margin-top: -600px;
        min-width: 130%;
    }
}


.card.hovercard .useravatar {
    position: absolute;
    top: 50px;
    margin-bottom: 50px;
    left: 0;
    right: 0;
}
.card.hovercard .useravatar img {
    width: 200px;
    height: 200px;
    max-width: 200px;
    max-height: 200px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}

.navbar-header a .useravatar img {
    width: 50px;
    height: 50px;
    max-width: 50px;
    max-height: 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}

.card.hovercard .card-info {
    position: absolute;
    bottom: 14px;
    left: 0;
    right: 0;
}
.card.hovercard .card-info .card-title {
    padding:0 5px;
    font-size: 20px;
    line-height: 1;
    color: #262626;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.card.hovercard .card-info {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}
.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}
.btn-pref .btn {
    -webkit-border-radius:0 !important;
}

.nopadding{
    padding-right: 0px;
    padding-left: 0px;
}
